body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    font-family: Arial, sans-serif;
    color: #f7f5f5;
    overflow: hidden;
    background-color: #1f1e1e;
}

.sidebar h2 {
    text-align: center;
    margin: 0;
    padding: 15px;
    font-size: 18px;
}

.sidebar button {
    background-color: transparent;
    color: #ffffff;
    padding: 15px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    z-index: 0;
}

.sidebar button:hover {
    background-color: #4caf50;
}

.main-content {
    background-color: #302f2f;
    transition: margin-left 0.3s, width 0.3s;
    z-index: 1000;
}

.section {
    display: none;
    margin: 40px 45px 0 230px;
    margin-left: 40px;
}

.section.active {
    display: block;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
   
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
}

.logo-container {
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: absolute;
    z-index: 10000;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: right 0.3s ease;
    z-index: 10;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
    z-index: 10;
}

.cards-container {
    position: fixed;
    top: 60px;
    left: 0px;
    right: 20px;
    bottom: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    transition: left 0.3s ease;
}

.cards-container::-webkit-scrollbar {
    width: 10px;
    background-color: #2c2c2c;
    margin-right: 0px;
}

.cards-container::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 4px;
}

.cards-container::-webkit-scrollbar-thumb:hover {
    background-color: #23e644;
}

.cards-container.sidebar-open {
    left: 250px;
}

.total-visitas-card {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grafico-visitas-card {
    grid-column: 1/4;
    grid-row: 2/ 2;
    display: flex;
    flex-direction: column;
    height: 350px;
}

.visitante-card {
    grid-column: 2/ 4;
    grid-row: 3 / 4;
    height: 400px;
    margin-top: 150px;
}

.grafico-visitas-card canvas {
    margin-bottom: 50px;
}

.categorias-card {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.usuarios-card {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    margin-top: 150px;
    height: 400px;
}

.info-card {
    background-color: #2c2c2c;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #04941ab4; 
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.info-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 7px rgba(6, 201, 35, 0.288);
    border-color: #209634f6; 
   
}

.info-card h3 {
    margin-bottom: 5px; 
    font-size: 20px; 
    text-align: center; 
    font-weight: bold; 
    color: #f8fcf9; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
    background: linear-gradient(130deg, #104703c7, #2c2c2c);
    
    border-radius: 8px; 
    padding: 10px 15px; 
    
    display: inline-block; 
}

.info-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.info-card li {
    padding: 5px 0;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.info-card.user-info,
.info-card.categorias-card,
.info-card.visitante-card {
    max-height: 250px;
    overflow-y: auto;
}

.info-card.categorias-card,
.info-card.visitante-card {
    max-height: auto;
}

.info-card.user-info::-webkit-scrollbar,
.info-card.categorias-card::-webkit-scrollbar,
.info-card.visitante-card::-webkit-scrollbar{
    width: 8px;
    background-color: #2c2c2c;
}

.info-card.user-info::-webkit-scrollbar-thumb,
.info-card.categorias-card::-webkit-scrollbar-thumb,
.info-card.visitante-card::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 4px;
}

.info-card.user-info::-webkit-scrollbar-thumb:hover,
.info-card.categorias-card::-webkit-scrollbar-thumb:hover,
.info-card.visitante-card::-webkit-scrollbar-thumb:hover {
    background-color: #23e644;
}

.user-info button,
.categorias-card button,
.sidebarbt,
.btn-delete-visita
{
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1px 3px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;
    transition: background-color 0.3s;
    z-index: 1000;
}



.user-info button:hover,
.categorias-card button:hover
.visitante-card button:hover {
    background-color: #d43f3f;
}



.visitas-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-concluir {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-align: center;
    z-index: 0;
}

.btn-concluir:hover {
    background-color: #45a049;
}

.visitas-buttons {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.visitas-buttons button {
    background-color: #0c9e3d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1px 3px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
}

.visitas-buttons button:hover {
    background-color: #6ae270;
}

.visitas-buttons button i {
    margin-right: 3px;
}

.btn-open-sidebar {
    position: fixed;
    top: 10px;
    left: 25px;
    background-color: transparent;
    color: #8f8e8e;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
    padding: 0;
    transition: color 0.3s;
}

.btn-open-sidebar:hover {
    color: #45a049;
}

.btn-close-sidebar {
    position: absolute;
    color: #d43f3f;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.btn-close-sidebar:hover {
    background-color: transparent !important;
}

.sidebar {
    position: relative;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #2c2c2c;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    left: 0;
}

.sidebar .icon {
    margin: 40px 0;
    color: #f3f0f0 !important;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    margin-top: 5px;
    top: 75px;
    margin: 20px;
    left: 8px;
    margin-left: 2px;
}

.btn {
    background-color: #4caf50;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.btn:hover {
    background-color: #45a049;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

.icon {
    position: absolute;
    top: calc(100vh - 250px) !important;
    left: 120px !important;
    transform: translateX(-50%);
    color: #ffffff !important;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    text-align: center;
}

.icon i {
    color: #ffffff !important;
}

.icon a {
    color: #ffffff !important;
    text-decoration: none;
}

.icon:hover {
    color: #0c9e3d !important;
    background-color: #1d7c3d;
}

.icon:hover i {
    color: #0c9e3d !important;
}

.sidebar-details {
    position: fixed;
    top: 0;
    right: -800px;
    width: 700px;
    height: 100%;
    
    background-color: #2c2c2c;
    color: white;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 9998;
}

.sidebar-details.open {
    right: 0; 
}

.sidebar-details h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.sidebar-details button.btn-close-sidebar {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #444;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.sidebar-details button.btn-close-sidebar:hover {
    background-color: #d43f3f;
    transform: scale(1.1);
}

.sidebar-details #visitorDetails {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-details #visitorDetails p {
    padding: 10px;
    background-color: #3a3a3a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.sidebar-details #visitorDetails p strong {
    color: #23e644;
    display: inline-block;
    width: 100px;
}


#visitorDetails h2 {
    font-size: 30px;
    margin-top: 20px;
    color: #ffffff;
    
}

#visitsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 50px;
}

#visitsTable th, #visitsTable td {
    border: 1px solid #444;
    padding: 8px 12px;
    text-align: left;
}

#visitsTable th {
    background-color: #3a3a3a;
    color: #23e644;
}

#visitsTable tr:nth-child(even) {
    background-color: #2c2c2c;
}

#visitsTable tr:hover {
    background-color: #444;
}

#visitanteList li {
    padding: 10px;
    background-color: #2c2c2c;
   
    margin-bottom: 5px;
    
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    color: #fff;
}

#visitanteList li:hover {
    background-color: #444;
    transform: scale(1.02);
}

#visitanteList li.selected {
    background-color: #23e644;
    color: #000;
    font-weight: bold;
    border-color: #1a8e32;
}

.sidebarbtExcluir {
    position: absolute;
    top: 20px;
    right: 40px; 
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    padding: 3px 4px;
    transition: background-color 0.3s, transform 0.2s;
    z-index: 1000;
}

.sidebarbtExcluir:hover {
    background-color: #d43f3f;
    transform: scale(1.1);
}

.sidebarbtDownload {
    position: absolute;
    top: 20px;
    right: 145px; 
    background-color: #1a8e32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    padding: 3px 11px;
    transition: background-color 0.3s, transform 0.2s;
    z-index: 1000;
}

.sidebarbtDownload:hover {
    background-color: #23e644;
    transform: scale(1.1);
}



#searchVisitante {
    display: block;
    margin: 0 auto 10px; 
    width: 80%; 
    padding: 10px 15px;
    border: 2px solid #106b1f; 
    border-radius: 5px;
    background-color: #2c2c2c; 
    color: #f7f5f5; 
    font-size: 16px;
    font-family: Arial, sans-serif;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

#searchVisitante:focus {
    border-color: #45a049; 
    box-shadow: 0 0 10px rgba(34, 212, 55, 0.7); 
}

#searchVisitante::placeholder {
    color: #8f8e8e; 
    font-style: italic;
}


.custom-confirm {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.custom-confirm-content {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    max-width: 400px;
    width: 80%;
}

.custom-confirm-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn-confirm {
    background-color: #23e644;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-confirm:hover {
    background-color: #1dbb38;
}

.btn-cancel {
    background-color: #ff4c4c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: #d43f3f;
}


.custom-alert {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 9999;
  
}

.custom-alert-content {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    max-width: 400px;
    width: 80%;
}

#alertOk {
    margin-top: 15px;
    background-color: #23e644;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#alertOk:hover {
    background-color: #1dbb38;
}
