body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    z-index: 100;
    transition: left 0.6s ease 0.6s, color 0.6s ease;
}


.sidebar.open {
    width: 230px;
}

.sidebar .toggle-btn {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.sidebar .icon {
    margin: 40px 0;
    color: #db8888;
    font-size: 24px;
    cursor: pointer; 
    position: relative;
    transition: color 0.3s ease;
    top: 75px;
    margin: 20px;
    left: 8px;
    margin-left: 2px;
}

.sidebar .icon span {
    display: none;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
}

.sidebar .icon:hover {
    transform: scale(1.1);
    color: #ffa500;
    transition: transform 0.2s ease, color 0.2s ease;
}

.sidebar:not(.open) .icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    left: 45px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    transform: translateY(-50%);
    opacity: 0.9;
}

.sidebar.open ~ .main-content {
    margin-left: 200px;
}

.sidebar .icon i {
    color: #fff;
}

.sidebar .icon a {
    color: inherit;
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
    padding: 30px;
    position: relative;
    overflow-y: auto;
    margin-left: 60px;
    transition: margin-left 0.2s ease;
}

.main-content h1 {
    text-align: left;
    position: relative;
    top: -40px;
    left: 10px;
}

.card-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    background-color: #3c3c3c;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 5px;
    position: relative;
    overflow: hidden;

    width: 300px;
    height: 200px;
    z-index: 0;
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
}

.card:hover .card-content {
    filter: blur(3px);
}

.card h3 {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #4caf50;
    font-weight: 700;
}

.card p {
    margin: 5px 0;
    font-weight: 400;
    line-height: 1.5;
    color: #e0e0e0;
   
}

.add-visit {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 20px;
    right: 20px;
}

.add-visit i {
    margin-right: 8px;
    font-size: 18px;
}

.add-visit:hover {
    background-color: #45a049;
}

.add-visitor {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 20px;
    right: 210px;
}

.add-visitor i {
    margin-right: 8px;
    font-size: 18px;
}

.add-visitor:hover {
    background-color: #45a049;
}

.sidebar-right {
    position: fixed;
    right: 0;
    top: 0;
    width: 380px;
    height: 100%;
    background-color: #1e1e1e;
    color: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar-vitan {
    position: fixed;
    right: 0;
    top: 0;
    width: 380px;
    height: 100%;
    background-color: #1e1e1e;
    color: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: transform 0.3s ease;
    z-index: 1001;
}

.filter-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 380px;
    height: 100%;
    background-color: #1e1e1e !important;
    color: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.filter-sidebar.show {
    display: block;
}

.sidebar-right label,
.sidebar-vitan label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #f1f1f1;
    font-weight: 600;
}

.filter-sidebar input[type="text"],
.filter-sidebar input[type="number"],
.filter-sidebar input[type="datetime-local"],
.filter-sidebar input[type="date"],
.filter-sidebar select,
.sidebar-right input[type="text"],
.sidebar-right input[type="number"],
.sidebar-right input[type="datetime-local"],
.sidebar-right select,
.sidebar-vitan input[type="text"],
.sidebar-vitan input[type="number"],
.sidebar-vitan input[type="datetime-local"],
.sidebar-vitan select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 2px solid #444;
    border-radius: 5px;
    font-size: 16px;
    color: #e0e0e0;
    background-color: #333 !important;
    box-sizing: border-box;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.filter-sidebar input[type="text"]:focus,
.filter-sidebar input[type="number"]:focus,
.filter-sidebar input[type="datetime-local"]:focus,
.filter-sidebar input[type="date"]:focus,
.filter-sidebar select:focus,
.sidebar-right input[type="text"]:focus,
.sidebar-right input[type="number"]:focus,
.sidebar-right input[type="datetime-local"]:focus,
.sidebar-right select:focus,
.sidebar-vitan input[type="text"]:focus,
.sidebar-vitan input[type="number"]:focus,
.sidebar-vitan input[type="datetime-local"]:focus,
.sidebar-vitan select:focus {
    border-color: #4CAF50;
    background-color: #333 !important;
    outline: none;
}

.select2-container--default .select2-selection--single {
    background-color: #333 !important;
    border: 1px solid #444 !important;
    border-radius: 5px;
    color: #e0e0e0 !important;
    font-size: 20px;
    height: 38px !important;
    width: 380px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #e0e0e0 !important;
    line-height: normal;
    text-align: center;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #aaa !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #aaa transparent transparent transparent !important;
}

.select2-container--default .select2-results__option {
    background-color: #333 !important;
    color: #fff;
    padding: 10px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #444;
    color: #fff;
}

.select2-container--default .select2-results {
    max-height: 200px;
    overflow-y: auto;
    background-color: #222;
    color: #ddd;
    border-radius: 5px;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: #ddd;
    font-size: 1.5em;
    float: right;
    cursor: pointer;
}

@media (max-width: 480px) {
    .sidebar-right {
        max-width: 100%;
        padding: 15px;
    }
}

.btn {
    background-color: #45a049;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2eaf55;
}

.btn-card {
    position: absolute;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    z-index: 1000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-card:hover {
    background-color: #57c971;

}

.card:hover .btn-card {
    visibility: visible;
    opacity: 1;
    transform: scale(1.1);
    z-index: 1000;
}

.btn-card.delet {
    bottom: 45%;
    right: 55%;
}

.btn-card.saida {
    bottom: 45%;
    right: 35%;
}
.btn-card.delet:hover::after {
    content: 'Deletar';

}


.btn-card.saida:hover::after {
    content: 'Adicionar Saída';

}


.btn-card.saida:hover::after,
.btn-card.delet:hover::after {
    
    position: absolute;
    bottom: -30px; /* Ajuste a posição para o texto */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1001;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.btn-card::after {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.btn-card:hover {
    background-color: #57c971;
    transform: scale(1.2);
}

.btn-card i {
    font-size: 18px;
    color: white;
}

#search-input {
    width: 100%;
    max-width: 300px;
    padding: 12px 18px;
    border: 1px solid #57c971;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    background-color: #333;
    color: #fff;
    transition: all 0.3s ease;
}

#search-input:hover {
    background-color: #444;
}

#search-input:focus {
    border-color: #57c971;
    background-color: #222;
}

#search-input::placeholder {
    color: #bbb;
    font-style: italic;
}

#filter-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
}

#filter-btn:hover {
    background-color: #2eaf55;
    transform: translateY(-2px);
}

#filter-btn.active {
    background-color: orange;
    color: white;
}

#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000152;
    text-align: center;
    padding-top: 20%;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    border-radius: 10px;
}

.spinner {
    margin: 20px auto;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.filter-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #343a40;
    color: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.filter-sidebar label {
    font-weight: bold;
    color: #e9ecef;
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.date-input {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #495057;
    border-radius: 4px;
    background-color: #495057;
    color: #ffffff;
    transition: border-color 0.3s, background-color 0.3s;
}

.date-input:focus {
    border-color: #007bff;
    outline: none;
    background-color: #3c4043;
}

.btn_dowload,
.btn_dowload-correios {
    position: absolute;
    right: 130px;
    top: 20px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
}

.btn_dowload:hover,
.btn_dowload-correios:hover {
    background-color: #2eaf55;
    transform: translateY(-2px);
}

.btn_dowload:active,
.btn_dowload-correios:active{
    transform: translateY(1px);
}

.btn_dowload-correios{
    right: 220px !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn_dowload {
    animation: fadeIn 0.5s ease;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px 0px;
    color: white;
    font-size: 24px;
    transition: left 0.5s ease 0.3s, color 0.3s ease;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    width: 100%;
    border-bottom: 1px solid #0a990a;
}

.menu h1 {
    margin: 0;
    text-align: center;
    padding: 0;
    font-size: 25px;
    flex-grow: 1;
    position: relative;
    top: center;
}

.user-form {
    display: center;
    flex-direction: column;
    gap: 15px;
    margin-inline: 20px;
}

.user-form label {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #cccccc;
}

.user-form input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
    outline: none;
    transition: border-color 0.3s ease;
}

.user-form input:focus {
    border-color: #4CAF50;
}

.user-form .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.user-form .btn:hover {
    background-color: #45a049;
}

.user-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.user-list li {
    background-color: #3c3c3c;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #e0e0e0;
    font-size: 1em;
    transition: background-color 0.3s;
}

.user-list li:hover {
    background-color: #4CAF50;
    color: #ffffff;
}

.logo-container {
    width: auto;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    position: absolute;
    z-index: 10000;
    left: 10px;
    transition: right 0.3s ease;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2000;
}

.sidebar-bottom-button {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.logout-btn i {
    margin-right: 8px;
}

.logout-btn:hover {
    background-color: #d32f2f;
}


table {
    width: 100%; /* Ocupa 100% do espaço disponível */
    border-collapse: collapse; /* Remove espaçamento entre células */
    background-color: #1e1e1e; /* Fundo escuro */
    color: #ffffff; /* Texto branco */
    font-family: Arial, sans-serif; /* Fonte padrão */
    font-size: 1rem; /* Tamanho da fonte */
    margin-bottom: 20px; /* Espaço abaixo da tabela */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

table th,
table td {
    padding: 10px; /* Espaçamento interno */
    text-align: left; /* Texto alinhado à esquerda */
    border: 1px solid #595a59; /* Borda verde */
}

table th {
    background-color: #333333; 
    color: #4caf50; 
    font-weight: bold; 
    text-transform: uppercase; 
}

table tbody tr:nth-child(even) {
    background-color: #2a2a2a; 
}

table tbody tr:hover {
    background-color: #333333; 
    color: #6fa770; 
    cursor: pointer; 
}

@media screen and (max-width: 768px) {
    table {
        font-size: 0.9rem; 
    }
}

/* Modal base */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Conteúdo do modal */
.modal-content {
    background-color: rgb(65, 63, 63);
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

/* Botões do modal */
.modal-actions button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-actions {
    text-align: center;
    margin-top: 20px;
}

#edit-button {
    background-color: #007bff;
    color: white;
}

#delete-button {
    background-color: #dc3545;
    color: white;
}



.custom-confirm {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.custom-confirm-content {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    max-width: 400px;
    width: 80%;
}

.custom-confirm-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn-confirm {
    background-color: #23e644;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-confirm:hover {
    background-color: #1dbb38;
}

.btn-cancel {
    background-color: #ff4c4c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: #d43f3f;
}


.custom-alert {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 9999;
  
}

.custom-alert-content {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    max-width: 400px;
    width: 80%;
}

#alertOk {
    margin-top: 15px;
    background-color: #23e644;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#alertOk:hover {
    background-color: #1dbb38;
}
