<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Entradas</title>
    <link rel="stylesheet" href="/styles.css">

 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
	
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
	 <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	




</head>
<body>



    <div id="sidebar-container"></div> 


    <div id="customConfirm" class="custom-confirm">
        <div class="custom-confirm-content">
            <p id="customConfirmMessage">Você tem certeza?</p>
            <div class="custom-confirm-buttons">
                <button id="confirmYes" class="btn-confirm">Sim</button>
                <button id="confirmNo" class="btn-cancel">Não</button>
            </div>
        </div>
    </div>


    <div id="customAlert" class="custom-alert">
        <div class="custom-alert-content">
            <p id="customAlertMessage">Mensagem</p>
            <button id="alertOk" class="btn-confirm">OK</button>
        </div>
    </div>



    
       <div class = "menu"> 
       
        <h1> Registro de Chaves</h1>
        	
        	
								   <button class="add-visit"  onclick="toggleDropdown('sidebar-Regischave')">
                                    <i class="fas fa-plus"></i>Novo Solicitante  	
								   </button>

						           <button class="add-visitor"  onclick="toggleDropdown('sidebar-chave')" >
                                    <i class="fa fa-key"  ></i>Registrar Chave 
                                </button>
                                             
                                 
                                    
                                    <div class="logo-container">
                                        <img src="/images/logo3.png" alt="Logo" class="logo-img">
                                    </div>


                                    <button class="btn_dowload-chave" onclick="exportVisibleToCSV()">
                                        <i class="fas fa-download"></i>
                                    </button>
       </div>
     
       
    
      
       <div class="main-content">

       
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Pesquisar" onkeyup="filter()">
        </div>

        <br><br>

        <div class="sidebar-right" id="sidebar-add-saida" style="display: none;">
            <button class="close-btn" id="close-saida-btn">&times;</button>
            <br><br>
            <input type="datetime-local" id="horarioSaida" />
            <button class ="btn" onclick="atualizarHorarioSaida()">Atualizar Horário de Saída</button>
        </div>  
        
        <div class="sidebar-right" id="sidebar-Regischave" style="display: none;">
            <button class="close-btn" onclick="toggleDropdown('sidebar-Regischave')">&times;</button>
            <h2>Cadastrar Solicitante</h2>
                <form action="/chave/registrar" method="POST">

                    <label for="solicitante">Solicitante</label>
                    <input type="text" id="requisi" name="requisi" required>
                    <br><br>

                    <label for="chave">Chave</label>
                    <select id="chave" name="chave" required>
                        <option value="1">1</option>
                    </select>

                    <label for="horarioEntrada">Hora de Retirada</label>
                    <input type="datetime-local" id="saida" name="saida" required>

                    <label for="horariodevol">Devolução</label>
                    <input type="datetime-local" id="devol" name="devol" required>
                   
                    <button class="btn"  type="submit">Salvar</button>
                </form>
        </div>  


                <div class="sidebar-right" id="sidebar-chave" style="display: none;">
                    <button class="close-btn" onclick="toggleDropdown('sidebar-chave')">&times;</button>
                    <h2>Cadastrar chave</h2>
                        <form action="/chave/cadastrar" method="POST">

                            <label for="chave">N° Chave</label>
                            <input type="text" id="cod" name="cod" required>

                            <br><br>
                            <label for="local">Local</label>
                            <input type="text" id="local" name="local" required>




                            <button class="btn"  type="submit">Salvar</button>
                        </form>
                </div>  


                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Solicitante</th>
                                <th>Chave</th>
                                <th>Horário de Retirada</th>
                                <th>Horário de Devolução</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                            <th:block th:each="regisChave : ${rchaves}">
                                <tr>
                                    
                                    <td th:text="${regisChave.requisi}">Solicitante</td>
                                    
                                    <td th:text="${regisChave.chave.local}">Chave</td>
                                  
                                    <td th:text="${#temporals.format(regisChave.saida, 'dd/MM/yyyy HH:mm')}">Horário de Retirada</td>
                                  
                                    <td th:text="${#temporals.format(regisChave.devol, 'dd/MM/yyyy HH:mm')}">Horário de Devolução</td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>

            </div>
                

<script>

$(document).ready(function() {
            $("#sidebar-container").load("/fragment/sidebar.html");
        });



function customAlert(message) {
    const modal = document.getElementById('customAlert');
    const messageElement = document.getElementById('customAlertMessage');
    const okButton = document.getElementById('alertOk');

   
    messageElement.textContent = message;
    modal.style.display = 'flex';
    okButton.onclick = () => {
        modal.style.display = 'none';
    };
}


function customConfirm(message) {
    return new Promise((resolve) => {
        const modal = document.getElementById('customConfirm');
        const messageElement = document.getElementById('customConfirmMessage');
        const yesButton = document.getElementById('confirmYes');
        const noButton = document.getElementById('confirmNo');

        // Atualiza a mensagem
        messageElement.textContent = message;


        modal.style.display = 'flex';

    
        yesButton.onclick = () => {
            modal.style.display = 'none';
            resolve(true); 
        };

        noButton.onclick = () => {
            modal.style.display = 'none'; 
            resolve(false); 
        };
    });
}

        
        document.getElementById('add-correios-btn').addEventListener('click', function() {
        var sidebarRight = document.getElementById('sidebar-chave');
        sidebarRight.style.display = 'block'; 
    });
   
    
    $(document).ready(function() {
    $('.select2').select2({
        placeholder: "Selecione uma opção",
        allowClear: true,
        width: 'resolve', // Ajusta o tamanho automaticamente ao container
        minimumInputLength: 1, // Exige ao menos um caractere para iniciar a busca
        language: {
            noResults: function() {
                return "Nenhuma opção encontrada";
            },
            inputTooShort: function(args) {
                return " ";
            }
        },
        matcher: function(params, data) {
            // Ignora a busca em opções vazias
            if ($.trim(params.term) === '') {
                return data;
            }

            // Faz a busca ignorando maiúsculas/minúsculas e acentos
            const term = params.term.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
            const text = data.text.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");

            if (text.includes(term)) {
                return data;
            }

            // Retorna `null` se não houver correspondência
            return null;
        }
    });
});

document.addEventListener('DOMContentLoaded', function () {
        
        const setorSelect = document.getElementById('setor');

        
        fetch('/setores/dropdown')
        .then(response => response.json())
        .then(data => {
            data.forEach(setor => {
                if (setor.codCorreios) { // Verifica se codCorreios não é null ou vazio
                    const option = document.createElement('option');
                    option.value = setor.id;
                    option.textContent = `${setor.nome} - ${setor.codCorreios}`; // Formata o texto como "Nome - CodCorreios"
                    setorSelect.appendChild(option);
                }
            });
        })
        .catch(error => console.error('Erro ao carregar os setores:', error));

        });

    function filter() {
        const input = document.getElementById('search-input');
        const filter = input.value.toLowerCase(); 
        const table = document.querySelector('table');
        const rows = table.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) { // Começa na linha 1 para ignorar o cabeçalho
            const cells = rows[i].getElementsByTagName('td');
            let match = false;

            for (let j = 0; j < cells.length; j++) {
                if (cells[j].innerText.toLowerCase().indexOf(filter) > -1) {
                    match = true;
                    break;
                }
            }

            rows[i].style.display = match ? '' : 'none'; // Mostra ou oculta a linha
        }
    }

    function exportVisibleToCSV() {
    const rows = document.querySelectorAll("table tbody tr");
    let csvContent = "data:text/csv;charset=utf-8,\uFEFF";
    csvContent += "ID;Funcionário;Setor;Horário;Código Postal;Destinatário;Serviço\n";

    rows.forEach(row => {
        if (row.style.display !== "none") { // Considera apenas linhas visíveis
            const cells = row.querySelectorAll("td");
            const id = cells[0].innerText;
            const funcionario = cells[1].innerText;
            const setor = cells[2].innerText;
            const horario = cells[3].innerText;
            const codigoPostal = cells[4].innerText;
            const destinatario = cells[5].innerText;
            const servico = cells[6].innerText;
            const entregador = cells[7].innerText;
            csvContent += `${id};${funcionario};${setor};${horario};${codigoPostal};${destinatario};${servico};${entregador}\n`;
        }
    });

    if (csvContent.trim() === "data:text/csv;charset=utf-8,\uFEFF\nID;Funcionário;Setor;Horário;Código Postal;Destinatário;Serviço;entregador\n") {
        alert("Nenhum dado disponível para download.");
        return;
    }

    const encodedUri = encodeURI(csvContent);
    const link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "dados_correios.csv");
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}

async function populateResponsaveisSelect() {
    const responsavelSelect = document.getElementById("funcionario");

    try {
        const response = await fetch("/users/api/users");
        const users = await response.json();

        users.forEach(user => {
            const option = document.createElement("option");
            
            option.value = user.officeLocation 
                ? `${user.displayName} - ${user.officeLocation}`
                : user.displayName;
            option.textContent = user.displayName; 
            responsavelSelect.appendChild(option);
        });
    } catch (error) {
        console.error("Erro ao carregar os dados de responsáveis:", error);
    }
}


document.addEventListener("DOMContentLoaded", populateResponsaveisSelect);




document.addEventListener('DOMContentLoaded', function () {
        
        const tableRows = document.querySelectorAll("table tbody tr");

        
        const modal = document.getElementById("infoModal");
        const closeModal = document.querySelector(".close");
        const modalId = document.getElementById("modal-id");
        const modalFuncionario = document.getElementById("modal-funcionario");
        const modalSetor = document.getElementById("modal-setor");
        const modalHorario = document.getElementById("modal-horario");
        const modalCodigoPostal = document.getElementById("modal-codigoPostal");
        const modalDestinatario = document.getElementById("modal-destinatario");
        const modalServico = document.getElementById("modal-servico");
        const modalEntregador = document.getElementById("modal-entregador");

        
        tableRows.forEach(row => {
            row.addEventListener('click', function () {
                
                const cells = this.querySelectorAll("td");

                
                modalId.textContent = cells[0].textContent;
                modalFuncionario.textContent = cells[1].textContent;
                modalSetor.textContent = cells[2].textContent;
                modalHorario.textContent = cells[3].textContent;
                modalCodigoPostal.textContent = cells[4].textContent;
                modalDestinatario.textContent = cells[5].textContent;
                modalServico.textContent = cells[6].textContent;
                modalEntregador.textContent = cells[7].textContent;

                
                modal.style.display = "block";
            });
        });

        
        closeModal.addEventListener('click', function () {
            modal.style.display = "none";
        });

        
        window.addEventListener('click', function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        });

        
        document.getElementById("edit-button").addEventListener("click", function () {
            alert("Função de edição ainda não implementada.");
        });

        document.getElementById("delete-button").addEventListener("click", function () {
            const id = document.getElementById("modal-id").textContent;
            deleteRecord(id);
        });


    });


    function deleteRecord(id) {
    
    customConfirm("Tem certeza de que deseja excluir este registro?")
        .then((confirmado) => {
            if (confirmado) {
                
                fetch(`/correios/${id}`, {
                    method: 'DELETE',
                })
                .then(response => {
                    
                    if (response.status === 204) {
                        
                        location.reload();

                        showAlert("Registro excluído com sucesso.", () => {
                            
                            document.querySelector(`tr[data-id="${id}"]`).remove();
                            
                            document.getElementById("infoModal").style.display = "none";
                        });
                    } else if (response.status === 404) {
                       
                        showAlert("Registro não encontrado.");
                    } else {
                        
                        showAlert("Ocorreu um erro ao excluir o registro.");
                    }
                })
                .catch(error => {
                    
                    console.error("Erro ao excluir o registro:", error);
                });
            } else {
                
                console.log("Ação de exclusão cancelada.");
            }
        });
}




</script>



	</body>
    
</html>  