<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Entradas</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <div id="sidebar-container"></div> 


   <div id="loading">
        <div class="spinner"></div>
        <h2>Carregando...</h2> 
    </div>


    <div class="menu"> 
        <h1>Visitas Finalizadas</h1>
        <button id="filter-btn" class="filter-btn" onclick="toggleSidebar()">
            <i class="fas fa-filter"></i> Filtrar
        </button>
        <button class="btn_dowload" onclick="downloadCSV()">
            <i class="fas fa-download"></i>
        </button>
        <div class="logo-container">
            <img src="/images/logo3.png" alt="Logo" class="logo-img">
        </div>
        <div class="logo-container">
            <img src="/images/logo3.png" alt="Logo" class="logo-img">
        </div>
    </div>
    <div class="main-content">
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Pesquisar visitas" onkeyup="filterTable()">
        </div>
        <br><br>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome Visitante</th>
                        <th>Tipo</th>
                        <th>Responsável</th>
                        <th>Horário de Entrada</th>
                        <th>Horário de Saída</th>
                        <th>Cartão</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="visita : ${visitas}" th:if="${visita.horarioSaida} != null">
                        <tr>
                            <td th:text="${visita.visitante.nome}">Nome Visitante</td>
                            <td th:text="${visita.categoria.nome}">Nome Categoria</td>
                            <td th:text="${visita.responsavel}">Nome Responsável</td>
                            <td th:text="${visita.horarioEntradaFormatado}">Horário Entrada</td>
                            <td th:text="${visita.horarioSaidaFormatado}">Horário Saída</td>
                            <td th:text="${visita.cracha}">Cartão</td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        
        <div class="sidebar-right" id="sidebar-category" style="display: none;">
            <button class="close-btn" id="close-category-btn">&times;</button>
            <br><br>
            <form action="/categorias/cadastrar" method="post">
                <label for="nome">Nome da Categoria</label>
                <input type="text" id="nome" name="nome" required>
                <button type="submit" class="btn">Salvar Categoria</button>
            </form>
        </div>
        <div id="filter-sidebar" class="filter-sidebar" style="display: none;">
            <button class="close-btn" onclick="toggleSidebar()">&times;</button>
            <br><br>
            <h2>Filtrar Visitas</h2>
            <label for="start-date">Data Inicial:</label>
            <input type="date" id="start-date" value="${startDate}">
            <label for="end-date">Data Final:</label>
            <input type="date" id="end-date" value="${endDate}">
            <br><br>
            <button class="btn" onclick="applyFilter()">Aplicar Filtro</button> 
            <button class="btn" onclick="removeFilter()">Limpar</button> 
            <br><br>
        </div>
    </div>
    <script>
        function toggleSidebarmenu() {
            var sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("open");
            var title = document.querySelector(".menu h1");
            title.classList.toggle("open");
            var searchContainer = document.getElementById("search-container");
            searchContainer.classList.toggle("open");
        }

        function initializeSidebar() {
            const params = new URLSearchParams(window.location.search);
            const startDate = params.get('startDate');
            const endDate = params.get('endDate');
            if (startDate) {
                document.getElementById('start-date').value = startDate;
            }
            if (endDate) {
                document.getElementById('end-date').value = endDate; 
            }
        }

        function downloadCSV() {
            const rows = document.querySelectorAll("table tbody tr");
            let csvContent = "data:text/csv;charset=utf-8,\uFEFF";
            csvContent += "Nome Visitante;Tipo;Horário de Entrada;Horário de Saída;Cartão\n";

            rows.forEach(row => {
                const cells = row.querySelectorAll("td");
                if (cells.length > 0) {
                    const nome = cells[0].innerText;
                    const tipo = cells[1].innerText;
                    const horarioEntrada = cells[2].innerText;
                    const horarioSaida = cells[3].innerText;
                    const cartao = cells[4].innerText;
                    csvContent += `${nome};${tipo};${horarioEntrada};${horarioSaida};${cartao}\n`;
                }
            });

            if (csvContent.trim() === "data:text/csv;charset=utf-8,\uFEFF\nNome Visitante;Tipo;Horário de Entrada;Horário de Saída;Cartão\n") {
                alert("Nenhum dado disponível para download.");
                return;
            }

            const encodedUri = encodeURI(csvContent);
            const link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "dados_visitas.csv");
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }


        function toggleSidebar() {
            const sidebar = document.getElementById('filter-sidebar');
            if (sidebar.style.display === 'none' || sidebar.style.display === '') {
                sidebar.style.display = 'block';
                initializeSidebar();
            } else {
                sidebar.style.display = 'none';
            }
        }

        function applyFilter() {
            const startDate = document.getElementById('start-date').value;
            const endDate = document.getElementById('end-date').value;
            if (!startDate || !endDate) {
                alert('Por favor, selecione ambas as datas.');
                return; 
            }
            document.getElementById('loading').style.display = 'block';
            window.location.href = `/registros/visitas/finalizados?startDate=${startDate}&endDate=${endDate}`;
        }

        function checkFilterStatus() {
            const params = new URLSearchParams(window.location.search);
            const startDate = params.get('startDate');
            const endDate = params.get('endDate');
            const filterBtn = document.getElementById("filter-btn");
            if (startDate && endDate) {
                filterBtn.style.backgroundColor = "orange";
            } else {
                filterBtn.style.backgroundColor = "#45a049";
            }
        }

        window.onload = function() {
            checkFilterStatus();
        };

        function removeFilter() {
            const url = new URL(window.location.href);
            url.searchParams.delete("startDate");
            url.searchParams.delete("endDate");
            window.history.replaceState(null, '', url);
            document.getElementById('loading').style.display = 'block';
            location.reload();
        }

        function filterTable() {
        const query = document.getElementById("search-input").value.toLowerCase();
        const rows = document.querySelectorAll("table tbody tr");

        rows.forEach(row => {
            const rowText = row.innerText.toLowerCase();
            if (rowText.includes(query)) {
                row.style.display = ""; 
            } else {
                row.style.display = "none";
            }
        });
    }


        function toggleDropdown(menuId) {
    const menu = document.getElementById(menuId);
    if (menu.style.display === "none" || !menu.style.display) {
       
        document.querySelectorAll('.dropdown-menu').forEach(m => m.style.display = 'none');
        
        menu.style.display = "block";
    } else {
        
        menu.style.display = "none";
    }
}

$(document).ready(function() {
            $("#sidebar-container").load("/fragment/sidebar.html");
        });
</script>

    </script>
</body>
</html>
