<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Entradas</title>
    <link rel="stylesheet" href="/styles.css"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
	
	<!-- Incluir jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<!-- Incluir JS do Select2 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
	 <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	




</head>
<body>
    <div class="sidebar" id="sidebar">
        <!-- Botão de abrir/fechar -->
        <div class="toggle-btn" onclick="toggleSidebar()">
            <i class="fas fa-bars"></i>
        </div>
        
        
         <div class="icon" data-tooltip="Entradas">
	        <a href="/registros/visitas">
	            <i class="fa fa-paper-plane"></i> <!-- Substitua "fa-check-circle" por outro ícone se desejar -->
	            <span>Visitas Finalizadas</span>
	        </a>
	    </div>
        
          <div class="icon" data-tooltip="finalizados">
	        <a href="/registros/visitas/finalizados">
	            <i class="fas fa-check-circle"></i> <!-- Substitua "fa-check-circle" por outro ícone se desejar -->
	            <span>Visitas Finalizadas</span>
	        </a>
	    </div>
        <!-- Ícone de Configuração -->
        <div class="icon" data-tooltip="Configuração">
            <i class="fas fa-cog"></i>
            <span>Configuração</span>
        </div>

     
	    
	   
    </div>
    
        <div class="main-content">
            <h1>Visitas Registradas</h1>
            
            <!-- Container para exibir os cartões das visitas -->
            <div class="card-container" id="visitas-container">
			     <th:block th:each="visita : ${visitas}"
               			th:if="${visita.horarioSaida} == null">
			        <div class="card">
			            <h3 th:text="${visita.visitante.nome}">Nome Visitante</h3>
			            <p><strong>Tipo:</strong> <span th:text="${visita.categoria.nome}">Nome Categoria</span></p>
			            <p><strong>Horário de Entrada:</strong> <span th:text="${visita.horarioEntradaFormatado}">Horário Entrada</span></p>
			           <!--   <p><strong>Horário de Saída:</strong> <span th:text="${visita.horarioSaidaFormatado}">Horário Saída</span></p>-->
			            <p><strong>Cartão:</strong> <span th:text="${visita.cracha}">Cartão</span></p>
			            <button class="btn-saida" th:onclick="'abrirSidebar(' + ${visita.id} + ')'">
			                <i class="fas fa-sign-out-alt"></i>
			            </button>
			        </div>
			    </th:block>
			</div>

			<div class="sidebar-right" id="sidebar-visitor" style="display: none;">
			                <button class="close-btn" id="close-btn">&times;</button> <!-- Botão de fechar -->
							<br><br>
			                <form action="/visitantes/cadastrar" method="post">
			                    <label for="nome">Nome do Visitante</label>
			                    <input type="text" id="nome" name="nome" required>

			                    <label for="empresa">Empresa</label>
			                    <input type="text" id="empresa" name="empresa">

			                    <label for="documento">Documento</label>
			                    <input type="text" id="documento" name="documento">

			                    <button type="submit" class="btn">Salvar Visitante</button>
			                </form>
			            </div>
						
						<div class="sidebar-right" id="sidebar-category" style="display: none;">
						    <button class="close-btn" id="close-category-btn">&times;</button> <!-- Botão de fechar -->
						    <br><br>
							<form action="/categorias/cadastrar" method="post">
							            <label for="nome">Nome da Categoria</label>
							            <input type="text" id="nome" name="nome" required>

							            <button type="submit" class="btn">Salvar Categoria</button>
						    </form>
						</div>
						
						
						
						
						
						<div class="sidebar-right" id="sidebar-add-saida" style="display: none;">
						    <button class="close-btn" id="close-saida-btn">&times;</button>
						    <br><br>
						    <input type="datetime-local" id="horarioSaida" />
						    <button class ="btn" onclick="atualizarHorarioSaida()">Atualizar Horário de Saída</button>
						</div>
						
						

						<div class="sidebar-right" id="sidebar-visitas" style="display: none;">
						    <button class="close-btn" id="close-visitas-btn">&times;</button>
						    <br><br>
						    <form id="visitaForm" action="/visitas/cadastrar" method="post" onsubmit="return verificarCracha(event)">
						        <label for="visitante">Visitante</label>
						        <select id="visitante" name="visitante.id" class="select2" required>
						            <option value="">Selecione um visitante</option>
						            <th:block th:each="visitante : ${visitantes}">
						                <option th:value="${visitante.id}" th:text="${visitante.nome}"></option>
						            </th:block>
						        </select>
						
						        <label for="categoria">Categoria</label>
						        <select id="categoria" name="categoria.id" class="select2" required>
						            <option value="">Selecione uma categoria</option>
						            <th:block th:each="categoria : ${categorias}">
						                <option th:value="${categoria.id}" th:text="${categoria.nome}"></option>
						            </th:block>
						        </select>
						
						        <label for="responsavel">Responsável</label>
						        <input type="text" id="responsavel" name="responsavel" required>
						
						        <label for="horarioEntrada">Horário de Entrada</label>
						        <input type="datetime-local" id="horarioEntrada" name="horarioEntrada" required>
						
						        <label for="cracha">Crachá (1 a 10)</label>
						        <input type="number" id="cracha" name="cracha" min="1" max="10" required>
						        <br><br>
						        <div id="error-message"  style="color: red; display: none;"></div> <!-- Mensagem de erro -->
						        <br>
						        <button type="submit" class="btn">Salvar Visita</button>
						    </form>
						</div>
						
								   <button class="add-visitor" id="add-visitor-btn">
								      <i class="fa fa-id-badge"  ></i>Cadastrar Visitante
								   
								   			
								   </button>
						           <button class="add-visit" id="add-visit-btn">
									    <i class="fas fa-plus"></i> Adicionar Visita
									</button>
						       </div>
						  
			    
<script>



let currentVisitaId = null;

function abrirSidebar(visitaId) {
    currentVisitaId = visitaId; // Armazena o ID da visita atual
    document.getElementById('sidebar-add-saida').style.display = 'block';
}

document.getElementById('close-saida-btn').addEventListener('click', function() {
    document.getElementById('sidebar-add-saida').style.display = 'none';
    currentVisitaId = null; // Limpa o ID da visita atual
});

function atualizarHorarioSaida() {
    const horarioSaida = document.getElementById('horarioSaida').value;

    if (horarioSaida && currentVisitaId) {
        fetch('/visitas/atualizar-saida', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `id=${currentVisitaId}&horarioSaida=${encodeURIComponent(horarioSaida)}`
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert(data.message);
                fecharSidebar();
                location.reload(); // Recarrega a página para atualizar as informações
            } else {
                alert(data.message);
            }
        })
        .catch(error => {
            console.error('Erro:', error);
            alert('Erro ao atualizar o horário de saída.');
        });
    } else {
        alert('Por favor, informe o horário de saída.');
    }
}

function fecharSidebar() {
    document.getElementById('sidebar-add-saida').style.display = 'none';
    currentVisitaId = null; // Limpa o ID da visita atual
}
    // Inicializa o Select2 nos elementos com a classe select2
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: "Selecione uma opção",
            allowClear: true
        });
    });

    // Função para mostrar o formulário de visitantes
    document.getElementById('add-visitor-btn').addEventListener('click', function() {
        var sidebarRight = document.getElementById('sidebar-visitor');
        sidebarRight.style.display = 'block'; // Mostra o formulário
    });

    // Função para fechar o formulário de visitantes
    document.getElementById('close-btn').addEventListener('click', function() {
        var sidebarRight = document.getElementById('sidebar-visitor');
        sidebarRight.style.display = 'none'; // Esconde o formulário
    });

    // Função para mostrar o formulário de visitas
    document.getElementById('add-visit-btn').addEventListener('click', function() {
        var sidebarRight = document.getElementById('sidebar-visitas');
        sidebarRight.style.display = 'block'; // Mostra o formulário

        fetch('/visitas/dados')
            .then(response => response.json())
            .then(data => {
                // Preencher o dropdown de visitantes
                const visitanteSelect = document.getElementById('visitante');
                visitanteSelect.innerHTML = '<option value="">Selecione um visitante</option>'; // Limpa opções anteriores
                data.visitantes.forEach(visitante => {
                    const option = document.createElement('option');
                    option.value = visitante.id; // ID do visitante
                    option.textContent = visitante.nome; // Nome do visitante
                    visitanteSelect.appendChild(option);
                });

                // Preencher o dropdown de categorias
                const categoriaSelect = document.getElementById('categoria');
                categoriaSelect.innerHTML = '<option value="">Selecione uma categoria</option>'; // Limpa opções anteriores
                data.categorias.forEach(categoria => {
                    const option = document.createElement('option');
                    option.value = categoria.id; // ID da categoria
                    option.textContent = categoria.nome; // Nome da categoria
                    categoriaSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Erro ao carregar dados:', error));
    });

    // Função para fechar o formulário de visitas
    document.getElementById('close-visitas-btn').addEventListener('click', function() {
        var sidebarRight = document.getElementById('sidebar-visitas');
        sidebarRight.style.display = 'none'; // Esconde o formulário
    });

    // Função para mostrar o formulário de categorias
    document.getElementById('add-category').addEventListener('click', function() {
        var sidebarRight = document.getElementById('sidebar-category');
        sidebarRight.style.display = 'block'; // Mostra o formulário
    });

    // Função para fechar o formulário de categorias
    document.getElementById('close-category-btn').addEventListener('click', function() {
        var sidebarRight = document.getElementById('sidebar-category');
        sidebarRight.style.display = 'none'; // Esconde o formulário
    });
    

   
    // Função para alternar a visibilidade da sidebar
    function toggleSidebar() {
        var sidebar = document.getElementById("sidebar");
        sidebar.classList.toggle("open");
    }
    
    function verificarCracha(event) {
        event.preventDefault(); // Previne o envio do formulário
        
        const cracha = document.getElementById('cracha').value;
        const errorMessage = document.getElementById('error-message');

        fetch(`/visitas/verificar-cracha?cracha=${cracha}`)
            .then(response => response.json())
            .then(data => {
                if (data.emUso) {
                    errorMessage.textContent = `O crachá ${cracha} já está em uso. Por favor, escolha outro.`;
                    errorMessage.style.display = 'block'; // Exibe a mensagem de erro
                } else {
                    errorMessage.style.display = 'none'; // Esconde a mensagem de erro
                    document.getElementById('visitaForm').submit(); // Envia o formulário
                }
            })
            .catch(error => {
                console.error('Erro ao verificar o crachá:', error);
                errorMessage.textContent = 'Ocorreu um erro ao verificar o crachá. Tente novamente.';
                errorMessage.style.display = 'block'; // Exibe a mensagem de erro
            });
    }
</script>

	</body>
</html>